# SIGRC - Variables de Entorno
# Copie este archivo como .env y ajuste los valores

# Base de Datos
DB_PASSWORD=Sigrc2024!

# JWT
JWT_SECRET=aGVsbG8gZXN0byBlcyB1biBzZWNyZXRvIHN1cGVyIHNlZ3VybyBwYXJhIHNpZ3JjIDIwMjQ=

# Correo
MAIL_HOST=smtp.epmapa.gob.ec
MAIL_PORT=587
MAIL_USER=notificaciones@epmapa.gob.ec
MAIL_PASSWORD=changeme
