# SIGRC - Backend

# Base de datos (instalada directo en el servidor)
DATABASE_HOST=host.docker.internal
DATABASE_PORT=5432
DATABASE_NAME=sigrc
DATABASE_USER=sigrc_user
DB_PASSWORD=Sigrc2024!

# JWT
JWT_SECRET=aGVsbG8gZXN0byBlcyB1biBzZWNyZXRvIHN1cGVyIHNlZ3VybyBwYXJhIHNpZ3JjIDIwMjQ=

# CORS
CORS_ORIGINS=http://192.168.100.116

# Uploads
UPLOAD_PATH=/data/sigrc/uploads
